@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Shantell+Sans&family=Yeseva+One&display=swap');

body {
 background: url('img/bg3.gif');
 font-family: 'Rampart One', cursive;
 color: #fff;
}
input {
  pointer-events: none;
  visibility: hidden;
}
h1 {
  text-align: center;
  font-size: 2.2rem;
}
.slider {
  width: 55vw;
  height: 78vh;
  overflow: hidden;
  border: 0.3rem rgba(0,49,83) solid;
}
.middle {
  margin: 0 auto;
}
.slides {
  width: 800%;
  height: 82%;
  display: flex;
  background-color: rgba(66,133,180, 0.4);
}
.slide {
  width: 12.5%;
  height: 100%;
  transition: all 0.6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide:nth-child(1) {
  background: url(img/1.jpeg) center center/contain no-repeat;
}
.slide:nth-child(2) {
  background: url(img/2.jpeg) center center/contain no-repeat;
}
.slide:nth-child(3) {
  background: url(img/3.jpeg) center center/contain no-repeat;
}
.slide:nth-child(4) {
  background: url(img/4.jpeg) center center/contain no-repeat;
}
.slide:nth-child(5) {
  background: url(img/5.jpeg) center center/contain no-repeat;
}
.slide:nth-child(6) {
  background: url(img/6.jpeg) center center/contain no-repeat;
}
.slide:nth-child(7) {
  background: url(img/7.jpeg) center center/contain no-repeat;
}
.slide:nth-child(8) {
  background: url(img/8.jpeg) center center/contain no-repeat;
}
.subtitles {
  display: flex;
  width: 800%;
}
.subtitle {
  width: 12.5%;
  font-size: 1.5rem;
  margin-top: 10px;
  transition: all 0.6s ease;
}
.labels {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
}
label {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.4s ease;
}
label:hover {
  background-color: red;
  transform: scale(1.1);
}
#pagi1:checked ~ .slider .labels .label1,
#pagi2:checked ~ .slider .labels .label2,
#pagi3:checked ~ .slider .labels .label3,
#pagi4:checked ~ .slider .labels .label4,
#pagi5:checked ~ .slider .labels .label5,
#pagi6:checked ~ .slider .labels .label6,
#pagi7:checked ~ .slider .labels .label7,
#pagi8:checked ~ .slider .labels .label8 {
  background-color: red;
  cursor:auto;
  transform: scale(1.1);
}
#pagi1:checked~.slider .slides .slide1 {
  margin-left: 0;
}
#pagi1:checked~.slider .subtitles .subtitle1 {
  margin-left: 0;
}
#pagi2:checked~.slider .slides .slide1 {
  margin-left: -12.5%;
}
#pagi2:checked~.slider .subtitles .subtitle1 {
  margin-left: -12.5%;
}
#pagi3:checked~.slider .slides .slide1 {
  margin-left: -25%;
}
#pagi3:checked~.slider .subtitles .subtitle1 {
  margin-left: -25%;
}
#pagi4:checked~.slider .slides .slide1 {
  margin-left: -37.5%;
}
#pagi4:checked~.slider .subtitles .subtitle1 {
  margin-left: -37.5%;
}
#pagi5:checked~.slider .slides .slide1 {
  margin-left: -50%;
}
#pagi5:checked~.slider .subtitles .subtitle1 {
  margin-left: -50%;
}
#pagi6:checked~.slider .slides .slide1 {
  margin-left: -62.5%;
}
#pagi6:checked~.slider .subtitles .subtitle1  {
  margin-left: -62.5%;
}
#pagi7:checked~.slider .slides .slide1 {
  margin-left: -75%;
}
#pagi7:checked~.slider .subtitles .subtitle1 {
  margin-left: -75%;
}
#pagi8:checked~.slider .slides .slide1 {
  margin-left: -87.5%;
}
#pagi8:checked~.slider .subtitles .subtitle1 {
  margin-left: -87.5%;
}